body{
  margin-top: 55px;
}
.top_level_index_php{
  .container{
    max-width:900px;
    #sidebar_wrap{
      .featured_items{
        .featured_item_wrap{
          margin-bottom:16px;
          .image_wrap{
            height:100px;
            width:300px;
            overflow: hidden;
            border:1px solid rgba(0,0,0,.1);
            img{
              max-width: 100%;
            }
          }
          .title{
            font-weight:bold;
          }
        }
      }
    }
    #main_wrap{
      .articles{
        article{
          h4{
            font-weight:bold;
          }
          img{
            width:500px;
            border:1px solid rgba(0,0,0,.1);
          }
        }
      }
    }
  }
}
#navbar {
  .navbar-brand {
    padding-top: 8px;
  }
  .user-function {
    .btn-upload {
      padding: 5px 11px;
      margin: 9px;
      background-color: #09f;
      color: white;
      border: #09f;
      &:hover{
        background-color: #33adff;
      }
      .icon-plus{
        font-size: 24px;
        vertical-align: middle;
        margin-right: 7px;
      }
      .text-upload{
        font-weight:bold;
      }
    }
    .avatar-container {
      padding: 0;
      img {
        border-radius: 2px;
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 0;
        margin: 9px 0;
      }
    }
  }
}
