body{
  margin-top: 55px;
}
.top_level_index_php{
  .container{
    max-width:900px;
    #main_wrap{
      .articles{
        article{
          h4{
            font-weight:bold;
          }
          img{
            width:500px;
            border:1px solid rgba(0,0,0,.1);
          }
        }
      }
    }
  }
}
#navbar {
  .navbar-brand {
    padding-top: 8px;
  }
  .user-function {
    .btn-upload {
      padding: 5px 23px;
      margin: 9px;
      background-color: #09f;
      color: white;
      border: #09f;
      &:hover{
        background-color: #33adff;
      }
    }
    .avatar-container {
      padding-top: 0;
      padding-bottom: 0;
      img {
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 0;
        margin: 9px;
      }
    }
  }
}
