$color_grey_very_light: rgba(0,0,0,.1);
$brand_info: #09f;
body{
  margin-top: 55px;
}
.top_level_index_php{
  .container{
    max-width:900px;
    #sidebar_wrap{
      .featured_items{
        .featured_item_wrap{
          margin-bottom:16px;
          .image_wrap{
            height:100px;
            width:300px;
            overflow: hidden;
            border:1px solid $color_grey_very_light;
            img{
              max-width: 100%;
            }
          }
          .title{
            font-weight:bold;
          }
        }
      }
    }
    #main_wrap{
      .articles{
        article{
          h4{
            font-weight:bold;
          }
          img{
            width:500px;
            border:1px solid $color_grey_very_light;
          }
        }
      }
    }
  }
}
#navbar {
  .navbar-brand {
    padding-top: 8px;
  }
  .user-function {
    .btn-upload {
      padding: 5px 11px;
      margin: 9px;
      background-color: $brand_info;
      color: white;
      border: $brand_info;
      &:hover{
        background-color: #33adff;
      }
      .icon-plus{
        font-size: 24px;
        vertical-align: middle;
        margin-right: 7px;
      }
      .text-upload{
        font-weight:bold;
      }
    }
    .avatar-container {
      padding: 0;
      img {
        border-radius: 2px;
        width: 30px;
        height: 30px;
        display: inline-block;
        border: 0;
        margin: 9px 0;
      }
    }
  }
}
#form_new_media{
  .buttons_switch_form{
    .button-new-media{
      border:1px solid $color_grey_very_light;
      height:120px;
      &.active{
        background: $color_grey_very_light;
        color: $brand_info;
      }
      .icon{
        text-align: center;
        padding-top: 32px;
        padding-bottom: 7px;
        .icon-make-meme{
          background: url(img/sprite-upload.png) -172px 0 no-repeat;
          background-size: 224px 82px;
          width: 52px;
          height: 42px;
          display:inline-block;
        }
        .glyphicon{
          font-size:45px;
        }
      }
      .text{
        text-align: center;
      }
    }
  }
}
